# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Raw Datasets (Datasets can be downloaded from Kaggle)
*.csv
*.parquet
*.zip
*.tar.gz
cleaned_data/
project/
data/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
